#image{
    position: relative;
    width: 30%;
    height: 40%;
    bottom:70px;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
body {
    width: 500px;
    height:550px;
    text-align: center;
    background-color: #0b9de6;       
    display :flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

  }
  
  div {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  input , button {
    margin-bottom: 10px;
    padding: 15px;
   
    border: 0;
    outline: none;
    border-radius: 6px;
  }
  button {
    background-color: #14C378;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
   
  }
  p {
    color: #f9f4f4;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
  }

  #container {
    width: 900px;
    padding: 7.5% 50px;
    margin: 0px
  }

 #city{
  color: aqua;
 }

 #meteoSearch btn{
  color:lightpink;
 }

 /* Délimitation de la zone du Toggle Switch */
 .switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
  top: 200px;
  left:110px;

}
/* Masquer  la checkbox */
.switch input {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
/* Ajout de la couleur de fond du Toggle Switch */
.switch input +span {
  position : absolute; 
  top: 0; ;
  bottom:0;
  left:0;
  right: 0;
  background: #99b4df;
  border-radius: 30px;
}

.switch input:checked + span{
  background: #346abf;

}
/* Insertion du curseur */
.switch input + span:before{
  content:"";
  display: inline-block;
  position: absolute;
top: 50%;
left: 4px;
width: 15px;
height: 15px;
background: white;
border-radius: 50%;
transform: translateY(-50%);
transition: all .5s;
}

.switch input:checked + span:before {
left: 20px;
}

.nintendo {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
  top :220px;
  left:110px;

}

.nintendo input {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.nintendo input +span {
  position : absolute; 
  top: 0; ;
  bottom:0;
  left:0;
  right: 0;
  background: #99b4df;
  border-radius: 30px;
}

.nintendo input:checked + span{
  background: #346abf;

}

.nintendo input + span:before{
  content:"";
  display: inline-block;
  position: absolute;
top: 50%;
left: 4px;
width: 15px;
height: 15px;
background: white;
border-radius: 50%;
transform: translateY(-50%);
transition: all .5s;
}

.nintendo input:checked + span:before {
left: 20px;
}

#Timage{
  position: relative;
  top:240px;
  right:25px;

}

#Tmusique{
  position: relative;
  top:260px;
 right:25px;

}